:root {
  --width: 100vw;
  --height: 100vh;
}
.container {
  display: flex;
  height: var(--height);
  width: var(--width);
  background-color: #212020;
}
.mainControl {
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f5f3;
  border-right: 1px solid #ccc;
}
.chatList {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: var(--height);
  background-color: #fff;
  color: #0e0e0e;
  border-right: 1px solid #ccc;
  box-shadow: 4px 0 16px -4px rgba(80, 77, 77, 0.15);
}
.chatWindow {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: var(--height);

  /* overflow-y: hidden; */
}
