.chat {
  flex: 2;
  border-left: 2px solid #dddddd35;
  border-right: 2px solid #dddddd35;
  height: 100%;
  flex-direction: column;
  display: flex;
  .top {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dddddd35;
    .icon {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
      }
      .texts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        span {
          font-size: 1rem;
          font-weight: Bold;
        }
        p {
          font-size: 0.7rem;
          font-weight: 50;
          color: rgba#33313162;
          opacity: 0.6;
        }
      }
    }
  }
  .center {
    padding: 20px;
    margin-top: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: space-between;
    -ms-overflow-style: none;
    gap: 1rem;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background: #f2f2f2; /* Track color */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9ee2b7; /* Thumb color */
      border-radius: 10px; /* Rounded corners */
      border: 2px solid #f2f2f2; /* Creates spacing inside the track */
    }

    /* Hover effect on thumb */
    &::-webkit-scrollbar-thumb:hover {
      background-color: #128c7e; /* Darker green on hover */
    }

    .message {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      padding: 1rem;
      max-width: 70%;

      p {
        padding: 1rem;
        background-color: #b0bdb6c7;
        border-radius: 1rem;
      }
      &.own {
        align-self: flex-end;
        .texts {
          p {
            background-color: #8eb8a1c7;
          }
        }
      }

      img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
      }
      .texts {
        display: flex;
        flex-direction: column;
        span {
          font-size: 0.6rem;
          font-weight: 200;
          align-self: flex-end;
          padding: 0.2rem;
        }
        p {
          font-size: 0.7rem;
          font-weight: 300;
          border-radius: 0.5rem;
          object-fit: cover;
        }
        img {
          width: 100%;
          height: 15rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.4rem;
    border-right: 2px solid #dddddd35;
    border-top: 1px solid #dddddd35;
    margin-top: auto;
    .icon {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
    img {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      object-fit: cover;
    }
    input {
      border: none;
      outline: none;
      background-color: rgba(236, 236, 236, 0.425);
      color: white;
      padding: 0.7rem;
      flex: 1;
      font-size: 1rem;
      border-radius: 0.5rem;
    }
    .sendButton {
      background-color: #5183fe;
      color: white;
      padding: 0.7rem;
      border-radius: 0.6rem;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .emoji {
      position: relative;
      .picker {
        position: absolute;
        bottom: 2rem;
        /* left: 0; */
      }
    }
  }
}
