.chatListHeader {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #44b97c;
  /* font-size: 1rem; */
  /* line-height: 2; */
}
h1 {
  font-size: 1.5rem;
  color: #44b97c;
  margin: 2;
  padding-left: 2rem;
}
