.chatListHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.chatListHeader h1 {
  color: #44b97c;
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 1.5;
  font-weight: 600;
}
.chatListItems {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: auto;
}
.chatListItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: ;

  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
